#
# gitattributes for auto detect text files and perform LF normalization
#
* text=auto

#
# gitattributes for common files
#
*.md       text
*.csv      text
*.sql      text

#
# gitattributes for graphics files
#
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.tif  binary
*.tiff binary
*.ico  binary
*.svg  binary

#
# gitattributes for python files
#
*.pxd		text
*.py 		text
*.py3 	text
*.pyw 	text
*.pyx  	text

#
# gitattributes for python binary files
#
*.db		binary
*.p 		binary
*.pkl   binary
*.pyc 	binary
*.pyd		binary
*.pyo 	binary

#
# gitattributes to adjust HTML templates as python code
*.html linguist-language=Python

# Make GitHub ignore vendor libraries while computing language stats.
# See https://github.com/github/linguist#overrides.

web/static/dist/*          linguist-vendored
web/static/echarts/*       linguist-vendored
web/static/fastclick/*     linguist-vendored
web/static/font-awesome/*  linguist-vendored
web/static/images/*        linguist-vendored
web/static/jquery/*        linguist-vendored
web/static/nprogress/*     linguist-vendored
web/static/pnotify/*       linguist-vendored
 web/static/pnotify/dist/pnotify.js linguist-vendored
