#
# gitattributes for auto detect text files and perform LF normalization
#
* text=auto

#
# gitattributes for common files
#
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
*.md       text
*.adoc     text
*.textile  text
*.mustache text
*.csv      text
*.tab      text
*.tsv      text
*.sql      text

#
# gitattributes for graphics files
#
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.tif  binary
*.tiff binary
*.ico  binary
*.svg  binary
*.eps  binary

#
# gitattributes for python files
#
*.pxd		text
*.py 		text
*.py3 	text
*.pyw 	text
*.pyx  	text

#
# gitattributes for python binary files
#
*.db		binary
*.p 		binary
*.pkl   binary
*.pyc 	binary
*.pyd		binary
*.pyo 	binary

# Make GitHub ignore vendor libraries while computing language stats.
# See https://github.com/github/linguist#overrides.

/web/static/dist/*          linguist-vendored=true
/web/static/echarts/*       linguist-vendored=true
/web/static/fastclick/*     linguist-vendored=true
/web/static/font-awesome/*  linguist-vendored=true
/web/static/images/*        linguist-vendored=true
/web/static/jquery/*        linguist-vendored=true
/web/static/nprogress/*     linguist-vendored=true
web/static/pnotify/*       linguist-vendored=true
