{% extends "error_template.html" %}
{% block body %}
<div class="col-md-12">
  <div class="col-middle">
    <div class="text-center">
      <h1 class="error-number">500</h1>
      <h2>Internal Server Error</h2>
      <p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.
        <br></br>
        <strong><a class="blue" href="#" onclick="crash_report()">Report this?</a></strong>
      </p>
    </div>
  </div>
</div>
<script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
{% if event_id %}
  <script>
    function crash_report(){
      Raven.showReportDialog({
        eventId: '{{ event_id }}',
        dsn: '{{ public_dsn }}'
      });
    }
  </script>
{% endif %}
{% endblock %}
